body{
    background-image: url('../imgs/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.register-nav{
    width: 100%;
    height: 4em;
    display: flex;
}

.back-button{
    margin-top: 0.25em;
    margin-left: 0.5em;
    width: 3.8em;
    height: 3.25em;
    background-image: url('../imgs/Back-Button.svg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    border: 1px solid transparent;
    border-radius: 20%;

}

.leo-message{
    margin-top: 1.5em;
    width: 100%;
    height: 9.5em;
    background-color: black;
}


#message{
    width: 100%;
    height: 5em;
    background-image: url('../imgs/first-leo-advice.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#advices-section{
    margin-top: 0.5em;
    width: 100%;
    height: 2em;
    color: white;
    font-size: 20px;
    font-weight: bold
}


.input-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    width: 100%;
    height: 7em;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5.5em;
    height: 3.5em;
    margin-right: 1em;
}

#nickname-img{
    height: 4.5em;
}


.first-page-input{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 11.8em;
    height: 3.5em;
    line-height: 1;
    box-sizing: border-box;
    border: 0.45em solid rgba(255, 178, 12, 1);
    box-shadow: -0.25em -0.4em 0px rgba(136, 100, 22, 1);
    border-radius: 0.85em;
    font-size: 25px;
    margin-right: 0.1em;
    margin-right: 0.25em;

}

.first-page-input::placeholder{
    color: #555555;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

}


#next-page-button{
    margin-top: 5em;
    width: 85%;
    height: 6.5em;
    background: url('../imgs/next-page-button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: transparent;
    transition: transform 0.2s ease-in-out; /* Adiciona transição suave */

}

next-page-button:active{
    transform: scale(1.1);
}