{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leolibras</title>
    <link rel="stylesheet" href="{%static 'main_page/css/style.css'%}">
</head>
<body>

    <section id='site-logo'>
        <div class="circle-container">
            <img class="character" src="{% static "main_page/imgs/Leo.svg" %}" alt="Personagem">
            <img class="title" src="{% static "main_page/imgs/Libras.svg" %}" alt="Título">
        </div>

    </section>


    <section id='buttons-section'>
        
        <a class='first-page-buttons' id='Login'></a>
    
        <a class='first-page-buttons' id='Register' href="{% url "first_register_page" %}"></a>
    
    </section>
</body>
</html>